{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}


<header>
    <nav>
        <div class="navv">
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('projects') }}">Projects</a>
            <a href="{{ path('contact') }}">Contact</a>
        </div>
        <div class="logos">
            <a href="https://github.com/Akunesquik"><img src="{{ asset('img/logos/github-logo.png') }}" alt="Logo" height="30px" style="filter: brightness(0) invert(55%);"></a>
            <a href="https://www.linkedin.com/in/alexis-fiolet/"><img src="{{ asset('img/logos/linkedin-logo.png') }}" alt="Logo" height="30px" ></a>
        </div>
    </nav>
</header>